<div class="view nav-padding">
  <h1>Tournament 1</h1>
<div class="wrapper">
  <div class="item">
    <div class="item-parent">
      <p>Deloitte</p>
    </div>
    <div class="item-childrens">
      <div class="item-child">
        <div class="item">
          <div class="item-parent">
            <p>Deloitte</p>
          </div>
          <div class="item-childrens">
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <p>Deloitte</p>
                </div>
                <div class="item-childrens">
                  <div class="item-child">
                    <p>TR</p>
                  </div>
                  <div class="item-child">
                    <p>Deloitte</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-child">
              <p>Blackberry</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item-child">
        <div class="item">
          <div class="item-parent">
            <p>TD</p>
          </div>
          <div class="item-childrens">
            <div class="item-child">
              <div class="item">
                <div class="item-parent">
                  <p>Parent</p>
                </div>
                <div class="item-childrens">
                  <div class="item-child">
                    <p>General Motors</p>
                  </div>
                  <div class="item-child">
                    <p>TD</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-child">
              <p>Manulife</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
