.hero {
    background: url('assets/foosball.png');
    background-size: cover;
    padding: 5rem 0 30rem 0;
}

.card-group {
    padding: 0rem 2rem;
}

h1 {
    font-size: 7em;
    letter-spacing: 6px;
}

h2 {
    padding: 2rem;
}
