.hero {
    background: url('assets/Leslie.png');
    background-size: cover;
    background-position: center; 
    padding: 0 0 826px 0;
   
    min-height:100%;
    background-attachment: fixed;
}





.card-group {
    padding: 0rem 2rem;
}

h1 {
    font-size: 7em;
    letter-spacing: 6px;
}

h2 {
    padding: 2rem;
}
